<h1>Create</h1>
<div class='form'>
  <form action='' method=''>
    <label for='name'>Name</label>
    <input type='text' id='name' name='name' />
    <label for='name'>Phone</label>
    <input type='text' id='name' name='phone' />
    <label for='name'>Description</label>
    <textarea id='name' name='description'></textarea>
    <label for='image'>ImageUrl</label>
    <input type='text' id='image' name='imageUrl' />
    <label for='difficulty'>Condition</label>
    <select id='difficulty' name='difficultyLevel'>
      <option value='1'>1 - New</option>
      <option value='2'>2 - Lake New</option>
      <option value='3'>3 - Just open</option>
      <option value='4'>4 - Used - good condition</option>
      <option value='5'>5 - Used</option>
    </select>
    <label for='name'>Price</label>
    <input type='text' id='name' name='Price' />
    <input type='submit' value='Create' />
  </form>
</div>