<h1>Gan356 Air SM</h1>
<img class='cube' src='/static/images/logonew.png' />
<div class='details'>
  <p><span>Description:</span>
    just text.</p>
  <p><span>condition</span> new</p>
  <a class='btn' href='/'>Back</a>
</div>