<h1>Free Market</h1>
<form action='' method=''>
  <input type='text' class='search' name='search' placeholder='Search...' />
  <input
    type='number'
    name='from'
    class='difficulty'
    placeholder='Price from...'
  />
  <span>-</span>
  <input type='number' name='to' class='difficulty' placeholder='Price to...' />
  <input type='submit' value='search' />
</form>
<div class='cube'>
  <img class='cube' src='/static/images/logonew.png' />
  <p class='name'>Product name</p>
  <p><span>condition</span> new</p>
  <a class='btn' href='/details/5c39f1851ab3b24f5c03e182'>Details</a>
</div>
<div class='cube'>
  <img class='cube' src='/static/images/logonew.png' />
  <p class='name'>Product name</p>
  <p><span>condition</span> new</p>
  <a class='btn' href='/details/5c39f1851ab3b24f5c03e183'>Details</a>
</div>
<div class='cube'>
  <img class='cube' src='/static/images/logonew.png' />
  <p class='name'>Product name</p>
  <p><span>condition</span> new</p>
  <a class='btn' href='/details/5c3a6888f78d6638ec8fdad6'>Details</a>
</div>
<div class='cube'>
  <img class='cube' src='/static/images/logonew.png' />
  <p class='name'>Product name</p>
  <p><span>condition</span> new</p>
  <a class='btn' href='/details/5c3a68d9f78d6638ec8fdad7'>Details</a>
</div>